$text__main: #000000;
$text__secondary: #6B6B6B;
$text__addition: #A6A4A0;
$text__disable: #C3C2BE;


$bg__main: #FFFFFF;
$bg__secondary: #F7F7F5;
$bg__secondary-accent: #EDECEA;

$strokes: #E4E4E4;

$accent__brand: #3D3BFF;
$accent__sale: #FFF705;
$accent__danger: #FF5733;
$accent__danger-bg: #FFE6E0;
$accent__always-white: #FFFFFF;
$accent__always-black: #000000;

$variable: #DCF4FE;